.Results {
  margin: 0px 55px;
  font-size: 10px;

  .year {
    padding: 50px 10px !important;
  }  

  .visible {
    display: block;
  }
  .invisible {
    display: none;
  }

  .logo {
    height: 100px;

    img {
      margin: auto;
    }
  }

  .sub-logo {
    height: 50px;
  }
}
