.navbar {
    display: flex;
    background-color: #FFF;
    // left: 0;
    // width: 100%;
    max-width: 400px;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 2px rgba($color: #000000, $alpha: 0.05);
    border-radius: 2rem;
    margin: 1rem 0;
}

.navbar-el {
    margin: 0 0.5rem;
}

// .navbar-brand {
    // position: absolute;
    // left: 10px;
// }