.Results {
  font-size: 12px;

  .year {
    padding: 50px 10px !important;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .show-candidate, .show-candidate:hover {
    transition: all .5s;
  }

  .show-candidate:hover {
    background-color: #efeefe;
  }

  .table thead th {
    vertical-align: top !important;
  }

  .table {
    margin-bottom: 0 !important;
  }
}
