.Results {
  font-size: 12px;

  .year {
    padding: 50px 10px !important;
  }  

  .sub-logo {
    height: 50px;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .show-candidate, .show-candidate:hover {
    transition: all .5s;
  }

  .show-candidate:hover {
    background-color: #efeefe;
  }

}
