.App {
  text-align: center;
}

body {
  padding-top: 70px; // fixed-navbar overlap
  padding-bottom: 30px; // fixed-footer overlap
}

.capitalize {
  text-transform: capitalize;
}

.pointer:hover {
  cursor: pointer;
}

.popover {
  max-width: fit-content !important;
}