@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100;1,200&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', 'Segoe UI';
  min-height: 100vh;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);;
}

a {
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit
}

.container-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  max-width: 400px;
  padding: 2rem;
  box-shadow: 0 0 10px 2px rgba($color: #000000, $alpha: 0.1);
  flex-direction: column;
  border-radius: 1rem;
  color: black;
}

.navbar {
  display: flex;
  background-color: #FFF;
  max-width: 400px;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 2px rgba($color: #000000, $alpha: 0.05);
  border-radius: 2rem;
  margin: 1rem 0;
  font-size: 1.5rem;
}