@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100;1,200&display=swap');

* {
  box-sizing: border-box;
}

body {
  // margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', 'Segoe UI';
  min-height: 100vh;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);;
  // margin: 1rem;
}

a {
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit
}