@keyframes shake {
  0% { transform: translate(5px, 5px) rotate(15deg)}
  100% { transform: translate(-5px, -5px) rotate(15deg)}
}

.home-title {
  display: inline-flex;
  align-items: flex-end;
}

.home-slide-first {
  margin-left: -15px;
  margin-right: -15px;
}

.ballot {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.ballot-box {
  animation: shake ease-in-out 3.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.ballot-sheet {
  right: auto;
  bottom: 0;
  left: 5%;
  animation: shake ease-in-out 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.box-item {
  width: 80%;
  height: 300px;
  border-radius: 21px 21px 0 0;
}
